<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head_fragment(title = 'メニュー', scripts = ~{::script}, links = ~{::link})}"></head>

<body>
	<div class="container">
		<h1>メニュー</h1>
		<button type="submit" class="btn btn-primary" onclick="location.href='showRegister'">登録</button>
		<button type="submit" class="btn btn-success" onclick="location.href='showSearch'">検索</button>
		<button type="submit" class="btn btn-danger" onclick="location.href='showUpdate'">更新</button>
		<button type="submit" class="btn btn-dark" onclick="location.href='showDelete'">削除</button>
	</div>
</body>

</html>